body {
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.border {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    to top,
    rgb(76, 116, 237),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(76, 116, 237)
  );
  padding: 2px;
  border-radius: 50%;
  animation: 3.5s spin linear infinite;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 25, 25);
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  color: white;
  background-image: linear-gradient(
    to top right,
    rgb(87, 255, 87),
    rgb(2, 167, 2),
    rgb(8, 207, 8)
  );
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 3px;
}

.pause {
  color: white;
  background-image: linear-gradient(
    to top right,
    rgb(250, 95, 95),
    rgb(208, 2, 2),
    rgb(250, 95, 95)
  );
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 3px;
}

.reset {
  color: white;
  background-image: linear-gradient(
    to top right,
    rgb(120, 161, 255),
    rgb(4, 98, 214),
    rgb(120, 167, 255)
  );
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 3px;
}

h3 {
  color: rgb(76, 116, 237);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  margin-bottom: 8px;
  display: inline-block;
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

span {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-style: bold;
}

button:hover {
  width: 84px;
  height: 39px;
}

.timer {
  position: absolute;
  top: 52%;
  left: 44%;
  z-index: 10;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
