* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

body {
  display: grid;
  background-color: #dedede;
  height: 100vh;
  background-size: contain;
}

.container {
  display: grid;
  grid-template-areas:
    "weather  weather  weather  weather"
    "humidity windspeed location temperature";
  grid-gap: 15px;
  height: 60vh;
}
.weather {
  grid-area: weather;
  background-image: linear-gradient(45deg, #319bf8, #1b61bc, #08418b);
  border-radius: 5px;
  font: bold 30px helvetica, sans-serif;
}
.humidity {
  grid-area: humidity;
  background-color: rgb(3, 156, 251);
  box-shadow: 4px 4px 5px rgba(49, 49, 50, 0.6);
  background: rgba(2, 149, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(0, 170, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font: bold 20px helvetica, sans-serif;
}
.windspeed {
  grid-area: windspeed;
  background-color: rgb(3, 156, 251);
  box-shadow: 4px 4px 5px rgba(49, 49, 50, 0.6);
  background: rgba(2, 149, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(0, 170, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font: bold 20px helvetica, sans-serif;
}
.location {
  grid-area: location;
  background-color: rgb(3, 156, 251);
  box-shadow: 4px 4px 5px rgba(49, 49, 50, 0.6);
  background: rgba(2, 149, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(0, 170, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font: bold 20px helvetica, sans-serif;
}
.temperature {
  grid-area: temperature;
  background-color: rgb(3, 156, 251);
  box-shadow: 4px 4px 5px rgba(49, 49, 50, 0.6);
  background: rgba(2, 149, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(0, 170, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font: bold 20px helvetica, sans-serif;
}

input {
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 25px;
}

form {
  height: 80px;
  background-color: #1b61bc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

button {
  height: 50px;
  width: 50px;
  border: none;
  text-align: center;
  border-radius: 25px;
  outline: 2px solid #fbfdff;
  outline-offset: 5px;
  font-size: 11px;
}
